body {
  background: #fafafa;
  font-family: 'Roboto', Arial, sans-serif;
  color: #111;
}

:root {
    --bg-black: #000000;
    --red: #b8001f;
    --bg-white: #fafafa;
    --gray: #cccccc82;
}


.main {
    min-height: 60vh;
}

.retro-logo {
  font-family: 'Staatliches', 'Roboto', Arial, sans-serif;
  letter-spacing: 1px;
}

.cta {
    width: fit-content;
    max-width: 400px;
    min-height: 250px;
    padding: 1rem;
    height: auto;
    border-radius: 16px;
    margin-bottom: 2rem;
    background-color: var(--bg-black);
    color: var(--bg-white);
    .cta-img {
        align-self: center;
        opacity: 0.9;
        object-fit: cover;
        img {
            width: 300px;
            height: auto;
            /* border-radius: 50%; */
            max-width: 100%;

        }
    }
}
.cta h5 {
    font-family: 'Staatliches', cursive;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.cta p {
    color: var(--bg-white);
    font-size: 1.0rem;
    margin-bottom: 0.8rem;
}
.cta .btn {
    background: var(--bg-black);
    color: #191919;
    font-weight: 600;
    letter-spacing: 1px;
}

.cta-schedule {
    font-weight: 200;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 350px;
    button {
        font-family: 'Roboto', Arial, sans-serif;
    }

    .login {
        .login-cta {
            font-family: 'Staatliches', cursive;
        }
        form {
            input {
                border-radius: .3rem;
                padding: .3rem .5rem;
                border: 1px solid #83838382;
            }
        }
    }
}